<div class="dashboard-header">
  <div class="company-info">
    <h2><%= company.nameIdentifier %></h2>
  </div>

  <div class="company-datapoints">
    <div class="company-datapoints-data">
      <span class="label">Avg orders per day</span>
      <span class="datapoint"><%= avgOrders %></span> 
    </div>
    <div class="company-datapoints-data"></div>
    <div class="company-datapoints-data"></div>
    <div class="company-datapoints-data"></div>
  </div>
</div>
