<% const today = new Date() %>

<footer>
  <img src="/images/ELLEN_logo.svg" alt="ellen insights logo">
  <p>© Ellen Insights <%= today.getFullYear() %></p>
</footer>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>
<script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=WD8qqU"></script>
</body>
</html>