<!-- set a class on the body if passed in with view var -->
<% 
let bodyClass = '';
  if (typeof view !== 'undefined') { 
    bodyClass = view
  }
%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ellen Insights</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">  <link rel="stylesheet" href="/css/app.css">
  <script src="/cash-dom/dist/cash.min.js"></script>
  <meta http-equiv="Content-Security-Policy: default-src https:; script-src https: 'unsafe-inline'; style-src https: 'unsafe-inline'">
</head>
<body class="<%= bodyClass %>" style="text-align: center;">
<nav>
<ul>
  <li class="nav-optional">
    <a href="/">
      <img src="/images/ELLEN_logo.svg" alt="ellen insights logo">
    </a>
  </li>
  <li>
  </li>
  <li>
    <% if (session.passport && session.passport.user) { %>
      <% if (currentUser.status === 'admin') { %>
        <a class="login-nav" href="/admin/companies">Admin</a>
      <% } %>
      <a class="login-nav" href="/users/dashboard">My Dashboard</a>
      <a class="logout-nav" href="/users/logout">Logout</a>
    <% } else { %>
      <a class="login-nav" href="/users/login">Login</a>
      <a class="login-nav"  href="/users/register">Register</a>
    <% } %>
  </li>
</ul>

</nav>

<script>
  $('.login-nav').on('touch click', function(e) {
    $(e.target).addClass('fast-blink');
  })
</script>