<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ellen Insights</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/app.css">
</head>
<body style="text-align: center;">
<a href="/">
  <img src="https://www.freelogodesign.org/file/app/client/thumb/ff903653-6ad5-4ac9-964c-9498e06d0ee8_200x200.png?1609221293450" alt="">
</a>
  </nav>