<div class="ticker-wrap">
  <div class="ticker">
    <div class="ticker__item">Debbie :: + 30points</div>
    <div class="ticker__item">John :: + 10points</div>
    <div class="ticker__item">BigCat2000 :: + 40points</div>
    <div class="ticker__item">John :: + 10points</div>
    <div class="ticker__item">BigCat2000 :: + 40points</div>
    <div class="ticker__item">Debbie :: + 30points</div>
    <div class="ticker__item">John :: + 10points</div>
    <div class="ticker__item">BigCat2000 :: + 40points</div>
    <div class="ticker__item">John :: + 10points</div>
    <div class="ticker__item">BigCat2000 :: + 40points</div>
  </div>
</div>