<%- include('./includes/header'); -%>
  <br />
  <% if (company) { %> 
  <h2><%= company.nameIdentifier %></h2>
  <% } else { %>
    <p>No company found :(</p>
  <% } %>
  
  <%- include('./includes/footer'); -%>
