<%- include('./includes/header',  {view: 'index'}); -%>
  <section class="index-hero section-full-width">
    <div class="max-width-wrapper">
      <div class="index-hero-left">
        <h1 class="section-title">Share your eCommerce Data and <span class="text-highlight">Earn Cash</span></h1>
      </div>
      <div class="index-hero-right">
        <%- include('./includes/bounty_list_item'); -%>
      </div>
    </div>
  </section>

  <section class="your-data-your-profit section-full-width">
    <div class="max-width-wrapper">
      <div class="your-data-your-profit-left">
        <h1>Your data. <br /> Your profit.</h1>
      </div>

      <div class="your-data-your-profit-right">
        <p>
          Companies like Facebook, Google, and VISA make billions using <strong>YOUR</strong> data. Amazon is getting in on it, too.
        </p>
        <p>Let’s change that.</p>
      </div>
    </div>
  </section>

  <section class="how-does-it-work section-full-width">
    <div class="max-width-wrapper">
      <div class="how-does-it-work-left">
        <h1>
          <span class="text-highlight">
            How does it work?
          </span>
        </h1>
        <ul class="how-does-it-work-list">
          <li>Share eCommerce transactions (of your choosing) with <strong class="ellen">Ellen</strong>.</li>
          <li><strong class="ellen">Ellen</strong> anonymizes your data and extracts the valuable information about the companies you purchase from.</li>
          <li>Any profits are split 50/50 between you and <strong class="ellen">Ellen</strong></li>
        </ul>
      </div>

      <div class="how-does-it-work-right">
        <div class="screen-render">
          <div class="screen-render-inner">
            <div class="screen-render-inner-heading">My Submissions</div>
            <div class="screen-data">
              <div class="screen-data-column column-one">
                <div class="screen-data-heading">Email date</div>
                <span>Yesterday</span>
                <span>2 days ago</span>
                <span>Last week</span>
              </div>
              <div class="screen-data-column column-two">
                <div class="screen-data-heading">Company</div>
                <span>NIKE</span>
                <span>REI</span>
                <span>ANOTHER CO.</span>
              </div>
              <div class="screen-data-column column-three">
                <div class="screen-data-heading">Order Date</div>
                <span>March 20th 2020</span>
                <span>April 23rd 2019</span>
                <span>January 3rd 2018</span>
              </div>  
            </div>
          </div>
          </div>  
        </div>
      </div>
    </div>
  </section>
  
  <section class="delete-your-data section-full-width">
    <div class="max-width-wrapper">
      <div class="delete-your-data-left">
        <div class="screen-render">
          <div class="screen-render-inner">
            <img src="/images/data_delete_ellen.svg" alt="delete your data">
          </div>
        </div>  
        </div>
        <div class="delete-your-data-right">
          <h2>Privacy</h2>
          <p>
            Easily delete all your data  <br />
            on <strong class="ellen">Ellen</strong> with one click. <br />
            It’s your data. <br />
            You own it. <br />
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="our-insights">
    <h1 class="section-title">What do our insights look like?</h1>
    <div class="screen-render">
      <div class="screen-render-inner">
        <img src="/images/ellen_insights_graph.jpg" alt="our graphs">
      </div>
    </div>

    <h2>
      We use aggregated transaction data to compile insights like this.
      <br />
      <span class="text-highlight"><a href="/users/register"> Sign up</a></span> to start earning.
    </h2>
  </section>

  <script>
    function getRandomInt(max) {
      return Math.floor(Math.random() * Math.floor(max));
    }

    // on interval
    // randomly choose a bounty item
    // randomly assign data from list

    const companyNames = ['Patagonia', 'REI', 'Rockler', 'Nike', 'West Elm', 'Crate&Barrel', 'IKEA'];
    const companyDates = ['March 2020', 'April 2019', 'May 2018', 'February 2017', 'October 2010', 'August 2009', 'August 2019', 'December 2020', 'February 2021'];

    let lastValue = 4;
    setInterval(function() {
      const companyNumber = getRandomInt(companyNames.length);
      const dateNumber = getRandomInt(companyDates.length);
      let elemNumber = getRandomInt(3);
      if (elemNumber === lastValue) {
        elemNumber = getRandomInt(3);
      }
      const bountyItem = $('.bounty-list')[elemNumber];
      const bountyContent = $(bountyItem).find('.bounty-list-item-content-left');
      
      $(bountyContent).addClass('blink');
      setTimeout(function() {
        bountyContent.text(`${companyNames[companyNumber]} / ${companyDates[dateNumber]}`);
        bountyContent.css('opacity', '0');
        bountyContent.css('opacity', '1');
      }, 500);

      setTimeout(function () {
        $(bountyContent).removeClass('blink');
      }, 900)

      lastValue = elemNumber;
    }, 1400)  
  </script>

  <section class="email-subscribe">
    <h2>ELLEN updates</h2>
    <p>
      When we are looking for specific data we will let you know (hint: you get paid!)
    </p>
    <p class="disclaimer">
      Your email address is kept strictly with ELLEN and our mail disribution system (Klaviyo). 
      No weird third parties, ever.
    </p>
    <form class="submitEmail" action="">
      <div class="submit-position-wrapper">
        <div class="input-wrapper">
          <input type="email" class="klaviyoEmail" placeholder="Email" value="" data-signup-location="homepage" />
          <div class="message"><!-- response message gets filled in here !--></div>
        </div>
        <button type="submit" class="email-submit"></button>
      </div>
    </form>
  </section>

  <script src="../cash-dom/dist/cash.min.js"></script>
  <script src="../axios/dist/axios.min.js"></script>

  <script>
    $('.submitEmail').on('submit', function(e) {
      // cleanup to function for use on any page
      e.preventDefault();
      const $emailInput = $(e.target).find('input[type=email]');
      const emailAddress = $emailInput.val();
      const singupLocation = $emailInput.data('signup-location');
      const $statusMessage = $('div.message'); 
      console.log(emailAddress, singupLocation);
      axios({
        method: 'post',
        url: `/api/users/subscribe`,
        data: {
          email: emailAddress,
          location: singupLocation,
          listIdentifier: 'U4qXB2'
        }}).then(function (response) {
          $emailInput.removeClass('error');
           $emailInput.addClass('success');
           $statusMessage.text("You're on the list, thanks!");
        }).catch(function (error) {
          if (error.response.status == 400) {
            $emailInput.val('');
            $emailInput.addClass('error');
            $statusMessage.text(`Looks like we couldn't add ${emailAddress} to our system :( please try again`);
          }
        });
    });
    </script>
  <%- include('./includes/footer'); -%>
