// colour variables
$primary: black;
$secondary: #efefef;
$color-brand-background: #FFFBEF;
$color-brand-highlight: #FFEDBD;
$color-white: #ffffff;
$color-off-black: #252525;
$color-gray: rgba(0,0,0,0.3);
$color-super-light-gray: #f7f7f7;

// fonts
$body-font-family: 'Red Hat Display', sans-serif;

// common styles

$border-common: dotted 1px $primary;
$border-radius-common: 13px;