@import './settings';
@import '../lib/.foundation';
@import '../modules/.modules';

body {
  font-family: $body-font-family;
  // * { border: solid blue thin; }

  a {
    color: $primary;
    text-decoration: underline;
    font-weight: 500;

    &:hover {
      text-decoration: none;
    }
  }
}