@import './settings';
@import '../lib/.foundation';
@import '../fonts/.fonts';
@import '../modules/.modules';
@import '../views/.views';

body {
  font-family: $body-font-family;
  font-size: 11px;
  padding: 0 15px;

  &.index {
    @include breakpoint(small only) {
      padding: 0;
    }
  }

  @include breakpoint(large up) {
    padding: 0 25px;
  }
  
  // * { border: solid blue thin; }

  * {
    box-sizing: border-box;
  }

  a {
    color: $primary;
    text-decoration: underline;
    font-weight: 500;
    letter-spacing: 1px;

    &:hover {
      text-decoration: none;
    }
  }

  $max-width: 1280px;

  section {
    max-width: $max-width;
    margin: 0 auto;

    &.section-full-width {
      max-width: none;
      overflow-x: hidden;
    }
  }

  .max-width-wrapper {
    display: flex;
    margin: 0 auto;
    max-width: $max-width;
    width: 100%;
    flex-direction: column;

    @include breakpoint(large up) {
      flex-direction: row;
    }  
  }
}
