.dashboardv2 { 
  $dashboard-silver: #E7E7E7;
  $dashboard-radius: 20px;
  padding: 0;

  > nav {
    padding: 0 15px;
  }

  p, h1, h2 {
    margin-bottom: 10px;
  }

  p > strong {
    font-family: $alternative-font-family;
    font-weight: 500;
    font-size: rem-calc(13px);
    letter-spacing: 1px;
  }

  h2.alternative {
    @extend %dashboard-heading-small;
    margin-bottom: 0;
  }

  p.subparagraph {
    @extend %font-subparagraph-alternative;
    margin-bottom: 0;
  }

  .points-score-readout {
    @extend %big-number;
    width: 100%;
    display: flex;
  }

  .dashboard-components-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
  }

  .dashboard-top-info {
    display: flex;
    justify-content: flex-end;
    max-width: none;
    padding: 60px 15px 10px; // for ticker fixed space

    strong {
      margin-right: 10px;
    }
  }

  .dashboard-intro {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
    border: solid $dashboard-silver 3px;
    
    border-radius: $dashboard-radius;
    padding: 20px;

    h1 {
      text-transform: uppercase;
      font-weight: bold;
      text-align: left;
      font-size: rem-calc(22px);
      margin-bottom: 0;
      letter-spacing: 0;
    }

    @include breakpoint(medium up) {
      flex-direction: row;
      min-height: 280px;
      justify-content: space-between;
    }

    .heading-soft {
      font-weight: 400;
    }

    &-welcome {
      @include breakpoint(small only) {
        margin-bottom: 40px;
      }
    }

    p.send-blurb {
      font-size: 14px;
      line-height: 1;
      margin: 10px 0;
    }

    &-points-summary {

      .screen-render {
        width: 100%;
        
        @include breakpoint(medium up) {
          height: 190px;
        }
        
        &-inner {
          background-color: rgba(255, 255, 255, 0.91);
          border: 0;
          padding: 15px;
        }
  
        &:after {
          background-size: 0.8%;
        }
      }
    }
  }

  .unique-identifier-email-copy.copied:after {
    top: unset;
    bottom: -30px;
  }
}
