.dashboard-wrapper {
  max-width: 100%;
  overflow-x: hidden;
}

.dashboard-top-info {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  max-width: none;

  strong {
    margin-right: 10px;
  }
}

.dashboard-intro {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;

  @include breakpoint(large up) {
    flex-direction: row;
    height: 200px;
    justify-content: space-between;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    width: 100%;

    @include breakpoint(medium up) {
      width: 45%;
      height: 75%;
    }

    &.dashboard-intro-info {
      background-color: $secondary;
      border-radius: 20px;
      
      .padding-wrapper {
        padding: 20px;
      }
    }

    > h1 {
      text-transform: uppercase;
      font-weight: bold;
      text-align: left;

      @include breakpoint(small only) {
        text-align: center;
        font-size: 24px;
      }
    }

    h5 {
      width: 100%;
    }
  }

  p.send-blurb {
    font-size: 14px;
    line-height: 1;
  }
}

.dashboard-header {
  padding-top: 20px;
  text-align: left;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include breakpoint(large up) {
    flex-direction: row;
  }

  h2 {
    font-weight: bolder;
    margin-bottom: 0;
  }

  h4 {
    font-size: rem-calc(25px);
    margin-bottom: 5px;
  }

  .company-info {
    width: auto;  
    white-space: nowrap;
    padding-right: 20px;
    min-width: 30%;
  }

  .company-datapoints {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
    min-height: 50px;
  

    @include breakpoint(large up) {
      padding: 20px;
      margin: 10px 0;
      width: 100%;
    }

    &-data {
      display: flex;
      flex-grow: 1;
      max-width: 20%;
      flex-direction: column;
      align-items: center;

      > span {
        display: flex;
        width: 100%;

        &.label { font-weight: bolder; }
        &.datapoint { 
          justify-self: flex-end;
          font-size: rem-calc(32px);
         }
      }
    }

    &-data {
      margin: 0 10px;
      padding: 2px 5px;
      border: dotted $secondary 2px;
      border-top: 0;
      border-bottom: 0;
 
      @include breakpoint(large up) {
        padding: 2px 10px;
      }
    }
  }
}

.dashboard-area {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint(large up) {
    flex-direction: row;
  }

  h3 {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bolder;
  }

  h4 {
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: bolder;
    text-transform: uppercase;
    width: 100%;
    border-bottom: $border-common;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 5px;
  }

  > section {
    flex-basis: 45%;
    font-size: 14px;
    margin: 0;
  }

  .orders-by-company {
    .company-header {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 15px;
      border-top: dotted $primary 2px;
      padding-top: 10px;

      &:first-of-type { border-top: 0; }

      h3 { 
        display: flex;
        margin: 0;
        margin-right: 10px;
      }

      &-email {
        display: flex;
      }
    }

    &-list {
      list-style: none;
      margin: 0;
    }

    &-list-item {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    &-list-date {
      font-size: rem-calc(17px);
    }

    &-list-date, &-list-divider, &-list-order-number {
      display: flex;
      flex-basis: 33%;

      @include breakpoint(large up) {
        flex-basis: 20%;
      }
    }

    &-list-divider { 
      text-align: center;
      justify-content: center;
    }

    &-list-status {
      display: flex;
      align-items: center;
      img { width: 20px; }
    }

    @include breakpoint(small only) {
      margin: 20px 0;
    }
  }

  .email-record {
    .orders-by-company {
      &-list-divider {
        flex-basis: 10%;
      }

      &-list-email-subject {
        max-width: 250px;
        width: 100%;
        overflow: hidden;
        height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 30px;

        @include breakpoint(small only) {
          max-width: 250px;
          width: 100%;
          overflow: hidden;
          height: 45px;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-right: 30px;
          white-space: normal;
        }
      }
    }

    @include breakpoint(small only) {
      .orders-by-company {
        &-list-date {
          flex-basis: 40%;
          padding-right: 10px;
        }

        &-list-divider {
          display: none;
        }

        &-list-email-subject {
          font-style: italic;
          flex-basis: 50%;
        }
      }
    }
  }

  .screen-render {
    align-items: flex-start;
    height: 100%;

    @include breakpoint(small only) {
      width: 100%;
    }

    &-inner {
      height: auto;

      @include breakpoint(small only) {
        padding: 10px;
      }
    }
  }
}

.data-record {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
}

.unique-identifier-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 100%;

  @include breakpoint(small only) {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  &:after {
    content: 'Your unique identifier email to send to. Click to copy';
    position: absolute;
    bottom: -20px;
    right: 5px;
    color: $color-gray;

    @include breakpoint(small only) {
      position: relative;
      bottom: -5px;
    }
  }

  @include breakpoint(medium up) {
    flex-direction: row;
  }

  h5 {
    @extend %font-heading-medium;
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0;
    
    @include breakpoint(medium up) {
      margin-right: 20px;
    }
  }

  .unique-identifier-email {
    background-color: $color-brand-background;
    border: solid black 2px;
    border-radius: $border-radius-common;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    letter-spacing: 0.2px;
    cursor: pointer;
    position: relative;

    @include breakpoint(small only) {
      margin-top: 10px;
      width: 100%;
      text-align: center;
    }

    
    &-copy::selection {
      background: $color-brand-highlight; /* WebKit/Blink Browsers */
    }

    &-copy {
      width: 100%;
      text-align: center;
      justify-content: center;

      &.copied {
        &:after {
          content: 'copied!';
          position: absolute;
          top: -30px;
          left: 0;

          @include breakpoint(small only) {
            left: unset;
            right: 0;
          }
        }
      }
    }

    > img {
      margin-right: 10px;
    }
  }
}

.dashboard-no-data {
  opacity: 0.2;
}

// debug / admin data
ul.quick-data {
  padding-top: 40px;
  li { 
    list-style: none;
    display: inline-block;
  }
}

// REWARDS STYLE

.rewards-area {
  background-color: $color-brand-highlight;
  padding: 0 5px;
  border-radius: 8px;
  margin-bottom: 40px;

  @include breakpoint(large up) {
    padding: 0 20px;
  }

  > img {
    max-width: 100%;
  }

  &-left, &-right {
    margin: 0 5px;
    width: 90%;
    display: flex;
    justify-content: center;

    @include breakpoint(large up) {
      margin: 0 20px;
      width: 90%;
    }
  }

  h5 {
    font-size: 14px;
    margin-bottom: 5px;

    @include breakpoint(large up) {
      font-size: 18px;
    }
  }

  .rewards-points-readout {
    font-size: 40px;
  }

  .rewards-listing {
    &-left, &-right {
      flex-basis: 50%;
      flex-direction: column;
    }

    &-right {
      border-left: $color-off-black solid thin;
      padding-left: 20px;

      > li {
        list-style: none;
        border-bottom: solid $color-super-light-gray thin;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .screen-render {
    @include breakpoint(small only) {
      height: auto;
      width: 100%;
    }

    &-inner-alternative {
      margin-left: 10px;
      margin-bottom: 5px;
    }
  }
}