.index-hero {
  width: 100%;
  background-color: $color-brand-background;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  padding: 30px 0 50px;
  height: 75vh;

  @include breakpoint(medium only) {
    height: 50vh;
  }

  @include breakpoint(large up) {
    flex-direction: row;
    height: 60vh;
  }

  @include left-right;

  &-left {
    @include breakpoint(large up) {
      align-items: flex-start;
      padding-left: 20px;
    }

    h1 {
      font-weight: bold;
      line-height: 1.2;
      font-size: rem-calc(40px);

      @include breakpoint(large up) {
        font-size: rem-calc(44px);
      }

      @include breakpoint(xlarge up) {
        font-size: rem-calc(50px);
      }
    }

    @include breakpoint(small only) {
      margin-bottom: 20px;
    }
  }

  .text-highlight {
    @include breakpoint(small only) {
      width: 100%;
      display: flex;
    }
  }
}

.your-data-your-profit {
  background-color: $color-off-black;
  text-align: left;
  display: flex;
  justify-content: center;
  color: $color-brand-background;
  padding: 50px 0;

  @include left-right;

  @include breakpoint(medium down) {
    min-height: 300px;
  }
  
  &-right {
    align-items: flex-start;
  }

  h1 {
    width: auto;
    font-weight: bold;
    @include breakpoint(medium down) {
      text-align: center;
    }
  }

  p {
    @extend %font-paragraph-large;
    width: 70%;

    @include breakpoint(medium down) {
      margin: 0 auto;
      text-align: center;
      width: 90%;
    }
  }
}

.how-does-it-work {
  display: flex;
  justify-content: center;
  padding: 50px 0;

  @include left-right;

  &-left {
    align-items: flex-start;
    padding-left: 20px;

    h1 { 
      width: 90%;
      font-size: rem-calc(35px);

      @include breakpoint(large up) {
        font-size: rem-calc(35px);
      }
     }

     h4 {
       font-size: rem-calc(30px);
     }
  }

  &-right {

    @include breakpoint(large up) {
      align-items: flex-end;
    }
  }

  &-list {
    font-size: 19px;
    text-align: left;
    padding: 20px;

    @include breakpoint(medium down) {
      font-size: 16px;
      text-align: left;
    }
  }

  .text-highlight {
    @include breakpoint(small only) {
      width: 100%;
      display: flex;
    }
  }
}


.delete-your-data {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background-color: $color-brand-background;

  @include left-right;

  h2 {
    font-weight: bold;
    text-align: left;
  }

  p {
    @extend %font-paragraph-large;
    text-align: left;
  }

  .screen-render-inner {
    display: flex;
    justify-content: center;
    align-items: center;

    img { 
      height: 100%;
      max-height: 85%;
     }
  }
}

.our-insights {
  display: flex;
  padding: 50px 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .screen-render {
    width: 90%;
    height: auto;
    max-width: 700px;

    @include breakpoint(large up) {
      height: 400px;
    }

    &-inner {
      background-color: $color-white;
      padding: 15px;
      display: flex;
    }

    img {
      object-fit: cover;
      object-position: left;
      width: 100%;
      height: 280px;
  
      @include breakpoint(medium up) {
        width: 100%;
        height: 100%;
      }
    }
  }

  h1 {
    font-weight: bold;
    line-height: 1.2;
    font-size: rem-calc(40px);
  }

  h2 {
    font-size: rem-calc(22px);
    font-weight: 500;
    max-width: 670px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
  }
}