nav {
  height: 50px;
  border-bottom: dotted 1px $primary;
  display: flex;
  justify-content: center;

  .index &, .earning & {
    @include breakpoint(small only) {
      padding: 0 15px;
    }
  }

  ul {
    list-style: none;
    display: flex;
    width: 100%;
    margin: 0 auto;

    li {
      flex-grow: 1;
      flex-basis: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-transform: uppercase;
      margin-bottom: 0;

      @include breakpoint(small only) {
        font-size: 9px;
      }

      > a {
        &:hover {
          @extend %fast-blink;
        }
      }

     > a.login-nav {
        background-color: black;
        color: white;
        padding: 2px 10px;
        text-decoration: none;
        margin: 0 2px;
      }

      a.logout-nav {

        @include breakpoint(large up) {
          margin-left: 10px;
        }
      }

      &.nav-optional {
        justify-content: flex-start;

        > a {
          padding-top: 4px; // logo custom padding
        }
      }
    }
  }
}