section.ellen-login-signup {
  display: flex;
  justify-content: center !important;
  align-items: center;
  position: relative;
  max-width: none;

  .mesh-background {
    background-image: url(/images/border_chequer.png);
    background-repeat: repeat;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  h2 {
    color: $color-white;
    letter-spacing: 1px;
  }

  .element-content {
    z-index: 2;
    flex-direction: column;
    display: flex;
    align-items: center;

    @include breakpoint(large up) {
      flex-direction: row;
      height: 100px;
    }

    > h2 { 
      margin: 10px;
      font-weight: bolder;
      letter-spacing: 3px;

      @include breakpoint(large up) {
         margin-right: 20px;
      }
    }

    > button { 
      margin: 5px 5px 10px;
      width: 200px;
      @include breakpoint(large up) {
        margin: 0 5px;
      }
     }
  }
}