.heading-stripe {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    flex-shrink: 1;
    margin-right: 10%;
  }

  .stripe {
    background-color: $color-brand-alternative-highlight;
    flex: 1;
    height: 10px;
  }
}